body {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
}

p {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
}

div {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
  color: #737373;
  text-decoration: none;
}

ul {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: right;
}

li {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-right: 2px;
  vertical-align: middle;
}

li a {
    display: block;
    width: 60px;
    font-size: 14px;
    color: #333333;
    text-align: center;
}

li a:hover {
    text-decoration: underline;
}

.graycircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: gray;
  margin-left: 15px;
}

.redcircle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #990000;
  margin-left: 20px;

}

.centertopbox {
  display: inline-block;
  position: absolute;
  height: 300px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
  text-align: center;
}

#logo {
    display: block-inline;
    position: relative;
    height: 220px;
    width: 545px;
    margin-top: 80px;
}

.searchbox:hover {
  box-shadow: 7px 7px 7px #d9d9d9, -2px 0px 2px #d9d9d9;
}

.searchbox {
  width: 475px;
  height: 40px;
  background: white;
  color: black;
  padding-left: 15px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #d9d9d9;
}

.sebsearch {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 140px;
  color: gray;
  border-style: none;
  border-width: 1px;
  border-color: gray;
  margin-top: 25px;
  text-align: center;
  padding: 0;
  margin-right: 10px;

}

.imfeelinlucky {
  display: inline-block;
  height: 40px;
  width: 140px;
  background-color: white;
  color: gray;
  position: relative;
  margin-top: 25px;
  text-align: center;
  padding: 0;
}

.largebutton{ 
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #737373;
}

.sebsearch:hover,.imfeelinlucky:hover {
  height: 38px;
  width: 138px;
  border-style: solid;
  border-width: 1px;
  border-color: #bfbfbf;
  box-shadow: 0px 1px 1px #d9d9d9;
}
